<nav class="nav justify-content-center">
    <a class="nav-link" href="/">Домашняя</a>
    <a class="nav-link" href="/dataBase">База данных</a>
    <a class="nav-link" href="/about">О проекте</a>
    <p>{{user}}</p>
</nav>