<!DOCTYPE html>
<html lang="ru">

<head>
  <title>{{dataBase}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />

</head>

<body>
  {{> menu}}

  <div class="container">
    <a href="/dataBase/search" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Search</a>
  </div>

  <script src="../Controllers/WWWdataBase.js"></script>

  <script src="jquery/dist/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>s
</body>

</html>